.bg{background: #f0f0f0;width: 100%;}
.content_img{
    height: 200px;
    margin-top: 95px;
}
.content_img img{
    height: 200px;
    width: 100%;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.content_left{
    width: 900px;
    float: left;
}
.content_nav{
    height: 90px;
    width: 900px;
}
.content_nav li{float:left;list-style: none;margin-right: 2px;}
.left_nav{
    width: 176px;
    height: 50px;
    background: #f6f7f9;
    border: 1px solid #f6f7f9;
    line-height: 50px;
    text-align: center;
    margin-top: 10px;
}
.left_nav:hover{
    border-top: 2px solid #ffa308;
    background: #fff;
    border-bottom-color: #fff;
    cursor: pointer;
}
.left_page{background: #fff;height: 93px;width: 900px;}
.left_up{
    width: 66px;
    height: 27px;
    border: 1px solid #cccccc;
    margin-left:540px;
    margin-top: 18px;
    outline: none;
    background: #fff;
    color: #999999;
    text-align: center;
}
.caret{margin-left: -5px;margin-right: 5px;}
.page_one{
    width: 30px;
    height: 27px;
    border: 1px solid #fff;
    margin-left:610px;
    margin-top: -28px;
    text-align: center;
}
.page_one span{line-height: 27px;color: #ff6600;}
.page_one:hover,.page_two:hover,.page_three:hover,.page_all:hover{
    background: #4196e6;
    cursor: pointer;
    border: 1px solid #fff;
}
.page_two{
    width: 30px;
    height: 26px;
    border: 1px solid #cccccc;
    margin-left:645px;
    margin-top: -28px;
    text-align: center;
}
.page_two span,.page_three span,.page_all span{line-height: 26px;color: #ff6600;}
.page_three{
    width: 30px;
    height: 26px;
    border: 1px solid #cccccc;
    margin-left:680px;
    margin-top: -28px;
    text-align: center;
}
.page_dian{
    width: 30px;
    height: 26px;
    margin-left:730px;
    margin-top: -28px;
    color: #999999;
}
.page_all{
    width:40px;
    height: 26px;
    margin-left:750px;
    margin-top: -27px;
    color: #999999;
    border: 1px solid #cccccc;
    text-align: center;
}
.left_down{
    width: 64px;
    height: 26px;
    margin-top: -27px;
    margin-left:800px;
    text-align: center;
    border: none
}
.left_down button{
    border: 1px solid #cccccc;
    width: 67px;
    height: 26px;
    outline: none;
    background: #fff;
    color: #5494d3;
    line-height: 26px;
}
.right{color: #ff6600;margin-left: 1px;}
.content_wen{
    height: 420px;
    background: #fff;
    margin-top:-297px;
    border-bottom: 1px solid #e7e6e4;
}
.content_wen>ul{margin-left: 13px;}
.content_wen>ul>li{
    float: left;
    list-style: none;
    margin-right: 13px;
    background: #fff;
    margin-top: 35px;
    width: 280px;
    height: 210px;
}
.content_word{
    height: 180px;
    margin-top: 270px;
}
.content_title>ul{
    margin: 10px 0 0 35px;
}
.content_title>ul>li{
    float: left;
    list-style: none;
    margin-top: 20px;
}
.content_title li:first-child{
    margin-right: 120px;
}
.content_title li:last-child{
    margin-left: 100px;
}
.content_title a{color: #000;}
.content_xi{
    height: 110px;
}
.content_xi>ul>li{
    float: left;
    list-style: none;
    width: 265px;
    margin-top: 20px;
}
.content_xi li:first-child{
    margin-right: 30px;
}
.content_xi li:last-child{
    margin-left: 30px;
}
.content_xi a{
    color: #000;
    font-size: 12px;
    text-indent: 2em;
    padding-left:2em;
}
.content_find>ul{margin-left: 178px;}
.content_find>ul>li{
    float: left;
    list-style: none;
    margin-top: 30px;
}
.content_find a{color: #20a2e8;}
.content_find li:first-child{
    margin-right: 200px;
}
.content_find li:last-child{
    margin-left: 200px;
}
.content_bao{
    height: 215px;
    background: #fff;
    border-bottom: 1px solid #e7e6e4;
}
.bao_img img{margin: 28px 28px;float: left}
.bao_right{
    height: 159px;
    width: 520px;
    float: right;
    margin: 28px 68px 0 0 ;
}
.bao_right a{color: #000;}
.span{margin-top: 5px;}
.bao_wenzi a{
    color: #666666;
    font-size: 12px;
    text-indent: 2em;
    padding-left:2em;
    margin-top: 10px;
}
.bao_span{
    margin-top: 50px;
}
.span_time{
    color: #666666;
    font-size: 12px;
}
.span_qian{
    margin-left: 10px;
    color: #666666;
    font-size: 12px;
}
.span_qian a{color: #40b0ec;}
.bao_input{
    width: 102px;
    height: 30px;
    background: #4196e6;
    border: none;
    color: #fff;
    float: right;
    margin-top: -10px;
    margin-right: 100px;
}
.content_right{
    width: 290px;
    float: right;
}
.right_div{
    width: 290px;
    height: 340px;
    margin-top: 10px;
    background: #d4e1fa;
    position: relative;
}
.right_white{
    background: #fff;
    width: 270px;
    height: 320px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.right_p{margin-left: 10px;margin-top: 10px;}
.right_sp{
    color: #ffa308;
    font-weight: bolder;
    margin-right: 2px;
}
.tu_span{
    font-size: 14px;
    margin-left: 15px;
}
.tu_select{
    color: #999999;
    outline: none;
    border: 1px solid #dde8f5;
    margin-left: 15px;
    height: 35px;
    width: 164px;
}
.right_white>ul>li{list-style: none;}
.right_white>ul>li:first-child{margin-bottom: 15px;}
.right_white>ul>li:last-child{margin-top: 15px;}
.tu_btn{
    outline: none;
    border: none;
    width: 180px;
    height: 30px;
    background: #ffa308;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 45px;
}
.tu_money{
    height: 50px;
    width: 250px;
    margin-left: 45px;
    margin-top: 15px;
}
.tu_money>ul>li{
    list-style: none;
    float: left;
    font-size: 14px;
    margin-right: 15px;
    width: 75px;
    height: 20px;
}
.tu_money a{
    color: #0095e5;
}
.right_re{
    height: 295px;
    width: 290px;
    border: 1px solid #e7e5e5;
    margin-top: 10px;
    background: #fff;
}
.right_img{
    width: 250px;
    height: 190px;
    margin-left: 15px;
    margin-top: 10px;
}
#tags-layout{
    position:relative;
}
#tags-layout a{
    position:absolute;
    width:56px;
    height:48px;
    line-height:48px;
    color:#fff;
    text-align:center;
    font-size:12px;
    background:url(../images/bg.png) -12px 0 no-repeat;
}
#tags-layout a:link{
    text-decoration:none;
}
#tags-layout a:visited{
    text-decoration:none;
}
#tags-layout a:hover{
    opacity:0.8;
    text-decoration:none;
    filter:alpha(opacity=80);
}
#tags-layout .cate-01{
    background-position:-12px 0;
}
#tags-layout .cate-02{
    background-position:-12px -48px;
}
#tags-layout .cate-03{
    background-position:-12px -96px;
}
#tags-layout .cate-04{
    background-position:-12px -144px;
}
.right_zi{
    width: 290px;
    height: 575px;
    border: 1px solid #e7e5e5;
    background: #fff;
    margin-top: 10px;
}
.right_zi>ul{margin-left: 30px;margin-top: -5px;}
.right_zi>ul>li{float: left;color: #666;margin-top: 8px;font-size: 12px;}
.right_zi a{color: #666;font-size: 12px;}
.right_zi a:hover{color: #c7b483;text-decoration: underline;}





