.bg{background: #f0f0f0;width: 100%;}
.content{
    width: 1200px;
    margin: 0 auto;
    margin-top: 95px;
}
.content_top{height: 70px;}
.content_top span{line-height: 70px;}
.jin_span{color: #666;margin-left: 10px;}
.cd_span{font-size: 20px;color: #0079c1;}
.di_sheng{font-size: 13px;line-height: 35px;}
.shengfen{
    width: 140px;
    height: 35px;
    color: #999999;
    outline: none;
    border: 1px solid #e2e2e2;
    float: right;
}
.content_top input{
    outline: none;
    width: 83px;
    height: 35px;
    border: 1px solid #c0c0c0;
    background: #ececec;
    color: #666;
}
.sheng_ul{margin-left:700px;margin-top: -50px;}
.sheng_ul>li{list-style: none;float: left;margin-right: 10px;}
.content_head{
    height: 52px;
    background: #fff;
    border-bottom: 2px solid #e7e5e5;
}
.content_head span{color: #000;margin-top: 20px;margin-left: 20px;line-height: 52px;}
.content_head>ul{margin-left: 95px;margin-top: -50px;}
.content_head>ul>li{float: left;list-style: none;margin-right: 17px;margin-top: 10px;}
.content_head>ul>li:first-child{}
.content_head li div{width: 50px;height: 30px;text-align: center;line-height: 30px;}
.content_head a{color: #0079c1;}
.content_head>ul>li:hover{background: #e7e5e5;cursor: pointer;}
.pingyin{
    height: 50px;
    line-height: 50px;
}
.pingyin span{ margin-left: 5px;color: #666;}
.content_last{
    background: #fff;
    border: 1px solid #fff;
}
.zimu{margin-left: 20px;}
.zimu a{color: #000;}
.zimu>li{float: left;list-style: none;margin-top:20px;margin-right: 15px;}
.zimu>li>div{width: 35px;height: 35px;border: 1px solid #e7e5e5;text-align: center;line-height: 35px;}
.zimu>li:hover,.zimu a:hover{background: #0079c1;border: none;color: #fff;cursor: pointer;}
.zimu_xi{
     margin-top: 80px;
 }
.diqu_zimu{width: 1200px;height: 70px;}
.zimu_kuang{height:60px;width: 1200px;margin-top: 7px;border-bottom: 1px solid #fff;border-top:1px solid #fff;}
.zimu_a{margin-top: -35px;margin-left: 75px;}
.zimu_a a{color: #858585;}
.zimu_a>li{float:left;list-style: none;margin-right: 5px;font-size: 13px;}
.zimu_first{width: 35px;height: 35px;border: 1px solid #e7e5e5;text-align: center;line-height:35px;margin-left: 20px;margin-top: 10px;}
.zimu_first a{color: #000;}
.zimu_first:hover,.zimu_first a:hover{background: #0079c1;color: #fff;}
.zimu_one{width: 50px;height:25px;text-align: center;line-height: 25px;}
.chang{width: 58px;height: 25px;text-align: center;line-height: 25px;}
.zimu_kuang:hover{border-bottom: 1px solid #e7e5e5;border-top:1px solid #e7e5e5; }
.zimu_one:hover,.zimu_a>li:hover,.zimu_a a:hover{
    background: #952828;
    color: #fff;
    cursor: pointer;
}

