.bg{background: #f0f0f0;width: 100%;}
.content_img{
    height: 200px;
    margin-top: 95px;
}
.content_img img{
    height: 200px;
    width: 100%;
}
.content{width: 1000px;margin: 0 auto;background: #fff;}
.content_top{position: relative;margin: 0 auto;width: 1000px;margin-top: 25px;}
.find{font-size: 20px;color: #dcd9d5;position: absolute;left: 20px;top:18px}
.input_one{
    width: 260px;
    height: 45px;
    outline: none;
    padding-left: 45px;
    border: 1px solid #cecfd2;
}
.input_two{
    height: 50px;
    width: 80px;
    position: absolute;
    top:3px;
    margin-left: -5px;
    outline: none;
    color: #fff;
    border: none;
    background: #ffa308;
    font-size: 20px;
}
.people{font-size: 30px;position: absolute;left:830px;top:10px;color: #fff;}
.input_three{
    width: 186px;
    height: 50px;
    outline: none;
    border: none;
    background: #2aadbc;
    color: #fff;
    font-size: 25px;
    margin-left:500px;
    padding-left: 30px;
}
.content_nav{
    height: 50px;
    margin-top: 20px;
    background: #f1f2f3;
    border: 1px solid #ebebeb;
    border-bottom: none;
}
.nav_ul>li{
    float: left;
    list-style: none;
    width: 180px;
    height: 48px;
    border-right: 1px solid #ebebeb;
    line-height: 48px;
    text-align: center;
}
.nav_ul>li:hover{
    border-top: 2px solid #ffa308;
    background: #fff;
    cursor: pointer;
}
.content_center{

}
.center_one{
    height: 158px;
    border: 1px solid #fff;
}
.ones{
    border-left: 4px solid #d21921;
}
.onesa{
    border-left: 4px solid #929493;
}
.onesb{
    border-left: 4px solid #00a2e3;
}
.onesc{
    border-left: 4px solid #8cc642;
}
.center_kuang{
    width: 100px;
    height: 100px;
    border: 1px solid #ebebeb;
    margin-top: 30px;
    margin-left: 60px;
}
.center_kuang img{
    margin-top: 10px;
    margin-left: 10px;
}
.one_ul{
    margin-left: 40px;
}
.one_ul>li{
    list-style: none;
}
.one_ul>li>a{
    color: #086db8!important;
}
.one_ul>li>:first-child{
    font-weight: bold;
}
.one_ul>li>:last-child{
    font-size: 12px;
}
.one_ul>li>span{
    display: inline-block;
    color: #989898;
    line-height: 20px;
    margin-top: 20px;
    font-weight: normal!important;
    font-size: 12px;
}
.one_ul>li>code{
    display: block;
    color: #62bc1b;
}
.one_ul>li>code img{
    vertical-align: middle;
}
.clearfix{
    clear: both;
}
.left{
    float: left;
}
.right{
    float: right;
}
.btn{
    margin: 55px 0 0 220px;
    display: inline-block;
}
.btn button{
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background: #e64e51;
    color: #ffffff;
    outline: none;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
}
.page{
    width: 1000px;
    height: 80px;
    margin: 0 auto;
}
.page_bot{height: 27px;width: 339px;margin-top: 18px;margin-left: 659px;}
.left_up{
    width: 66px;
    height: 27px;
    border: 1px solid #cccccc;
    outline: none;
    background: #fff;
    color: #999999;
    text-align: center;
}
.caret{margin-left: -5px;margin-right: 5px;}
.page_one{
    width: 30px;
    height: 27px;
    border: 1px solid #f0f0f0;
    margin-top: -27px;
    margin-left: 75px;
    text-align: center;
}
.page_one span{line-height: 27px;color: #ff6600;}
.page_one:hover,.page_two:hover,.page_three:hover,.page_all:hover{
    background: #4196e6;
    cursor: pointer;
    border: 1px solid #fff;
}
.page_two{
    width: 30px;
    height: 26px;
    border: 1px solid #cccccc;
    margin-left: 116px;
    margin-top: -29px;
    text-align: center;
}
.page_two span,.page_three span,.page_all span{line-height: 26px;color: #ff6600;}
.page_three{
    width: 30px;
    height: 26px;
    border: 1px solid #cccccc;
    margin-left:157px;
    margin-top: -29px;
    text-align: center;
}
.page_dian{
    width: 30px;
    height: 26px;
    margin-left:200px;
    margin-top: -29px;
    color: #999999;
}
.page_all{
    width:40px;
    height: 26px;
    margin-left:220px;
    margin-top: -25px;
    color: #999999;
    border: 1px solid #cccccc;
    text-align: center;
}
.left_down{
    width: 64px;
    height: 26px;
    margin-top: -27px;
    margin-left: 271px;
    text-align: center;
    border: none
}
.left_down button{
    border: 1px solid #cccccc;
    width: 67px;
    height: 26px;
    outline: none;
    background: #fff;
    color: #5494d3;
    line-height: 26px;
}
.right_i{color: #ff6600;margin-left: 1px;}
.h_hidden{
    width: 540px;
    height: 150px;
    position: relative;
    background: url(../images/hover.png);
    left: 245px;
    bottom: 30px;
    display: none;
}
.hover-con{
    position: absolute;
    padding: 20px 30px;
    font-size: 12px;
}
.hover-bottom{
    padding-top: 20px;
}
.hover-con p{
    line-height: 20px;
}
.spans{
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    color: #ffffff;
}
.spana{
    background: #fda207;
    margin-bottom: 5px;
}
.spanb{
    background: #8cc642;
}
.spanc{
    color: #8cc642;
}
.spand{
    color: #00a2e3;
    margin-left: 5px;
}
