.footer{
   height: 380px;
   clear: both;
   border:  1px solid #f0f0f0;
}
.footer_bg{
    margin-top: 28px;
    background: #2f4159;
    height: 168px;
    margin-bottom: 15px;
}
.foot_all{width: 1232px;margin: 0 auto;background: #2f4159;}
.foot_all>ul>li{float: left;list-style: none;}
.footer_guimo{
    height: 167px;
    width: 305px;
    border-right: 1px solid #3a4e69;
}
.footer_guimo img{margin-left: 17px;margin-top: 33px;}
.footer_guimo>ul{margin-left: 65px;margin-top: -40px;width: 200px;}
.footer_guimo>ul>li{
    float: left;
    list-style: none;
    font-size: 12px;
    color: #808080;
    margin-top: 5px;
}
.footer_guimo>ul>li:first-child{
    font-size: 15px;
    color: #c9af7d;
}
.footer_rexian{
    height: 132px;
    width: 305px;
}
.footer_rexian>ul{margin-left: 65px;margin-top: 35px;}
.footer_rexian>ul>li{
    float: left;
    list-style: none;
    font-size: 15px;
    color: #fff;
    margin-top: 5px;
    border-right: none;
}
.footer_rexian>ul>li:last-child{color: #c9af7d;}
.footer_word{
    width: 770px;
    height: 18px;
    margin:0 auto;
}
.footer_word>ul>li{
    float: left;
    list-style: none;
    font-size: 12px;
    margin-right: 10px;
}
.footer_word>ul>li:hover{color: #c9af7d;cursor: pointer;}
.foot_ying{
    margin: 0 auto;
    width: 544px;
    height: 18px;
    margin-top: 5px;
    font-size: 12px;
    color: #666666;
}
.ditu{
    margin: 0 auto;
    width: 766px;
    height: 54px;
    margin-top: 25px;
}
.back{
    background-color:#5e5e5d;
    float: right;
    margin-right: 250px;
    width: 62px;
    height: 52px;
    margin-top: -450px;
    margin-left: 1600px;
    text-align: center;
    line-height: 52px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
}
.back:hover{background: #474646;}
.up{
    font-size: 50px;
    color: #fff;
}


#分页
.pagination {
    border-radius: 4px;
    display: inline-block;
    margin: 20px 0;
    padding-left: 0;
}
.pagination > li {
    display: inline;
}
.pagination > li > a, .pagination > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #428bca;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
    background-color: #eee;
    border-color: #ddd;
    color: #2a6496;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #428bca;
    border-color: #428bca;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}
.pagination-lg > li > a, .pagination-lg > li > span {
    font-size: 18px;
    padding: 10px 16px;
}
.pagination-lg > li:first-child > a, .pagination-lg > li:first-child > span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a, .pagination-lg > li:last-child > span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.pagination-sm > li > a, .pagination-sm > li > span {
    font-size: 12px;
    padding: 5px 10px;
}
.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a, .pagination-sm > li:last-child > span {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.pager {
    list-style: none outside none;
    margin: 20px 0;
    padding-left: 0;
    text-align: center;
}
.pager li {
    display: inline;
}
.pager li > a, .pager li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 14px;
}
.pager li > a:hover, .pager li > a:focus {
    background-color: #eee;
    text-decoration: none;
}
.pager .next > a, .pager .next > span {
    float: right;
}
.pager .previous > a, .pager .previous > span {
    float: left;
}
.pager .disabled > a, .pager .disabled > a:hover, .pager .disabled > a:focus, .pager .disabled > span {
    background-color: #fff;
    color: #777;
    cursor: not-allowed;
}