body,div,ul,li,a,img,p,span,h4,h2,h3,h6{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
}
a{text-decoration: none;}
img{border: none;}
.header{
    height: 40px;
    background: #000;
    width: 100%;
}
.topnav{
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}
.topnav_left{
    line-height: 43px;
    font-size: 12px;
    margin-left: 15px;
    color: #fff;
    float: left;
    display: inline;
}
.topnav_right{
    width: 620px;
    height: 40px;
    font-size: 12px;
    margin-left: 580px;
    line-height: 43px;
}
.topnav_right li{
    list-style: none;
    float: left;
    margin-left: 20px;
    color: #fff;
    display: inline;
}
.xindai{color: #fff;}
.xindai:hover{color: #c0a062;}
.icon{
    color: #952828;
    font-size: 15px;
    line-height: 43px;
}
.mainnav_div{
    height: 85px;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}
.mainnav_div img{margin-top: 15px;}
.city{
    width: 70px;
    height: 25px;
    border: 1px solid #eee;
    background: #f8f8f8;
    margin-left: 200px;
    margin-top: -40px;
    border-radius: 2px;
    behavior: url('duoqianwang/css/iecss3.htc');
    text-align: center;
}
.city span a{
    color: #952828;
    font-size: 12px;
    line-height: 25px;
}
.mainnav_div p{
    margin-left: 200px;
    margin-top: 5px;
}
.mainnav_div a{ color: #999999;font-size: 12px;}
.nav_right{
    margin-left: 800px;
    margin-top: -45px;
}
.nav_right li{
    list-style: none;
    float: left;
    margin-left: 20px;
    display: inline;
}
.nav_right a{
    color: #000;
    font-size: 16px;
}
.nav_right a:hover{color: #952828;}
