.content{
    height: 100%;
    margin: 0 auto;
    margin-top: 87px;
}
.content_all{}
#huandengpian{
    width: 100%;
    height: 856px;
    position: relative;
    overflow: hidden;
}
.inner{
    position: absolute;
    width: 100000px;
    left: 0px;
}
.inner img{float: left;}
.next{
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    background: #fff;
    position: fixed;
    left:1810px;
    bottom:10px;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.next:hover,.prev:hover{color: #c0a062;}

.prev{
    width: 25px;
    height: 25px;
    border: 1px solid #fff;
    background: #fff;
    position: fixed;
    left:1770px;
    bottom:10px;
    color: #000;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
}
.neirong{margin: 0 auto;}
.logo_main{
    position: absolute;
    left:580px;
    top:125px;

}
.content_ul{
    position: absolute;
    left:660px;
    top:420px;
}
.content_ul li{
    margin-right: 10px;
    float: left;
    list-style: none;
    display: inline;
}
.content_btn{
    width: 143px;
    height: 50px;
    background: #272727;
    color: #fff;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    behavior: url('duoqianwang/css/iecss3.htc');
}
.daikuan{
    background: #d8d5d5;
    color: #000000;
    cursor: pointer;
}
.content_btn:hover{
    background: #373737;
    cursor: pointer;
}
.daikuan:hover{background: #e2e2e2;}
.content_foot{
    position: fixed;
    left:245px;
    bottom:10px;
}
.content_foot li{
    margin-right: 10px;
    float: left;
    list-style: none;
}
.content_foot a{
    color: #fff;
    font-size: 12px;
}
.content_foot a:hover{color: #c0a062;}
.content_tu{
    position: fixed;
    left:865px;
    bottom:-5px;
    overflow: hidden;
}
.content_search{
    width: 355px;
    height: 260px;
    position: absolute;
    top:80px;
    left: 0px;
    -khtml-opacity: 0.4;
    -moz-opacity:0.4;
    background-color:#fff; opacity:0.4;filter:alpha(opacity=40);

}
.content_san{
    width: 0;
    height: 0;
    border: 12px solid #fff;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    margin-top: -24px;
    margin-left: 40px;
    -khtml-opacity: 0.8;
    -moz-opacity:0.8;
    opacity:0.8;filter:alpha(opacity=80);
}
.content_input{
    position: absolute;
    top:90px;
}
.content_hidden{display: none;}
.content_show{display: none;}
.content_select option{border-color:#fff;}
.content_select{
    width: 300px;
    height: 40px;
    outline: none;
    border: 1px solid #7ea800;
    color: #999999;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 15px;
}
.content_but{
    width: 300px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 15px;
    color: #fff;
    border: none;
    background: #7ea800;
    font-weight: bold;
}
.search_ul{
    list-style: none;
    display: block;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
}
.search_ul a{ color: #07519a;}
.search_ul>li:first-child{
    color: #272727;
}
.search_ul li:hover{
    text-decoration:underline ;
    cursor: pointer;
}
.content_diya{
    width: 350px;
    height: 250px;
    position: absolute;
    top:80px;
    left: 160px;
    -khtml-opacity: 0.4;
    -moz-opacity:0.4;
    background-color:#fff; opacity:0.4;filter:alpha(opacity=40);
}
.tanchu{
    display: none;
    margin: 0 auto;
    width: 100%;
}
.img{position: absolute;top:125px;}
.img img{width: 100%;height: 342px;}
.tanchu_div{
    width: 100%;
    height: 522px;
    display: block;
    background: #2f4158;
    position: absolute;
    top:460px;
    left: 0px;
}
.tanchu_div ul{margin-left: 350px;}
.tanchu_div li{
    list-style: none;
    display: inline;
    float: left;
}
.tanchu_div img{margin-top: -58px;}
.tanchu_icon a{color: #fff;}
.tanchu_icon{
    color: #fff;
    font-size: 35px;
    margin-top: -80px;
    margin-left:185px;
}
.user{margin-top: -15px;}
.calendar{margin-left: -3px;margin-top: -2px;}
.manager{
    font-size: 15px;
    margin-top: 1px;
    margin-left: -8px;
    display: none;
    color: #fff;
}
.tanchu_dai{width: 1600px;}
.tanchu_dai ul{margin-left: 420px;margin-top: 150px;}
.tanchu_dai li{list-style: none;display: inline;float: left;margin-right: 80px;}
.tanchu_word ul{margin-left: 470px;margin-top:310px;}
.tanchu_word li{list-style: none;display: inline;margin-right: 225px;}
.tanchu_word a:hover{color: #c0a062;}
.tanchu_word a{color: #fff;font-size: 20px;}
.tanchu_wordli ul{margin-left: 450px;margin-top: 340px;}
.tanchu_wordli li{list-style: none;display: inline;margin-right:202px;}
.tanchu_wordli a{color: #fff;font-size: 15px;}
.img_hidden img{position: fixed;bottom: 1px;left: 865px;overflow: hidden;}

