.bg{background: #f0f0f0;width: 100%;}
.content_img{
    height: 138px;
    margin-top: 95px;
}
.content_top{
    height: 60px;
    border-top: 1px solid #dddddd;
    margin-top: 10px;
}
.content{margin: 0 auto;width: 1200px;}
.content_top>ul>li{float: left;list-style: none;margin-right: 35px;}
.content_top>ul{margin-left: 85px;margin-top: 15px;}
.dropdown,.jigou,.diya,.huankuan{position:relative;}
.one,.three,.four,.five{width:140px; height:30px; line-height:30px; padding-left:20px; padding-right:10px;
    border: 1px solid #ccc;font-size: 12px;
    color: #999999; cursor:pointer;background: #fff;}
.top,.top_one,.top_two,.top_three{height: 30px;width: 35px;border: 1px solid #cccccc;margin-left: 135px;margin-top: -32px;text-align: center;background: #f6f7f9;cursor: pointer;}
.right{font-size: 25px;line-height: 20px;color: #888888;}
.dropdown ul,.jigou ul,.diya ul,.huankuan ul{width:170px; background: #fdfdfd; margin-top:-1px;border:1px solid #cccccc;
    position:absolute; display:none;}
.dropdown ul li,.jigou ul li,.diya ul li,.huankuan ul li{line-height:25px;list-style: none;cursor: pointer;width: 165px;padding-left: 5px;font-size: 12px;}
.dropdown ul li:hover,.jigou ul li:hover,.diya ul li:hover,.huankuan ul li:hover{background: #ededed;}
.jine{position:relative;top:-23px;left: 65px;}
.dk_jine{position: relative;top: 5px;color: #999;left:-20px;}
.dk_qixian{position: relative;top: 5px;color: #999;left:60px;}
.qixian{position:relative;top:-23px;left: 145px;}
.two{width:140px; height:30px; line-height:30px; padding-left:20px; padding-right:10px;
    border: 1px solid #cccccc;background: #fff;
    color: #999999; cursor:pointer;font-size: 12px;}
.down{height: 30px;width: 35px;border: 1px solid #cccccc;margin-left: 135px;margin-top: -32px;text-align: center;background: #f6f7f9;cursor: pointer;}
.right{font-size: 25px;line-height: 20px;color: #888888;}
.qixian ul{width:170px; background: #fdfdfd; margin-top:-1px;border:1px solid #cccccc;
    position:absolute; display:none;z-index: 10000}
.qixian ul li{line-height:25px;list-style: none;cursor: pointer;width: 165px;padding-left: 5px;font-size: 12px;}
.qixian ul li:hover{background: #ededed;}
.ul_but{width: 118px;height: 35px;outline: none;border: none;background: #fe7318;color: #fff;border-radius: 3px;font-size: 15px;margin-left: 65px;}
.ul_btn{width: 140px;height: 35px;outline: none;border: 1px solid #d5d1d2;background: #f5f5f6;}
.content_two{
    height: 175px;
    width: 1200px;
    background: #fff;
    margin-bottom: 40px;
    border-bottom:1px solid #e0dede;
}
.content_center{clear: both;height: 128px;width: 1190px;border: 1px solid #fff;}
.center_wai{margin-top:10px;margin-left: 20px}
.center_wai>li{list-style: none;height: 25px;border-bottom: 1px dashed #dcdcdc;margin-top: 5px;}
.center_li>li{list-style: none;float: left;font-size: 14px;margin-right: 20px;}
.center_li>li>a{color: #40b0ec;font-size: 14px;}

.c_bottom{background: #fafafa;height: 5px}
.center{margin-top: -40px;width: 1200px;height: 1210px;}
.center_left{width: 900px;float: left;}
.left_top{height: 60px;background: #f3eff0;border-top: 1px solid #e7e5e5;margin-top: 10px;font-size: 12px;}
.left_top>ul{margin-left: 20px;margin-top: 15px;}
.left_top>ul>li{float: left;list-style: none;margin-right: 20px;}
.button_b{width: 85px;height: 30px;border: 1px solid #e0dede;background: #fff}
.button_b:first-child{margin-right: -7px;}
.button_b:last-child{margin-left: -7px;}
.button_b:hover{background: #f3eff0;cursor: pointer;}
.left_one{height: 155px;background: #fff;border: 1px solid #fff;border-bottom: 1px solid #dcdcdc;}
.left_one div img,.left_one div p{float:left;margin-left: 20px;margin-top: 15px;}
.loop_div div img{width:108px;}
.loop_div div p{width:100px;}
.touzi{color: #40b0ec;}
.left_li{margin-top:45px;margin-left: 150px;}
.left_li>li{float:left;list-style: none;}
.left_ul>li{list-style: none;margin-top: 2px;margin-right: 85px;}
.left_ul>li>a{font-size: 12px;color: #646465;}
.left_but{width: 110px;height: 35px;background: #73b1ed;border: 1px solid #f1f0f0;outline: none;cursor: pointer;color: #fff;}
.left_but:hover{background: #5aabed;}
.shu_span{color: #44b52a;font-size: 14px;}
.page{
    height: 65px;
    background: #fff;
    margin-top: -17px;
}
.left_up{
    width: 66px;
    height: 27px;
    border: 1px solid #cccccc;
    margin-left:540px;
    margin-top: 18px;
    outline: none;
    background: #fff;
    color: #999999;
    text-align: center;
    cursor: pointer;
}
.caret{margin-left: -5px;margin-right: 5px;}
.page_one{
    width: 30px;
    height: 27px;
    border: 1px solid #fff;
    margin-left:610px;
    margin-top: -28px;
    text-align: center;
}
.page_one span{line-height: 27px;color: #ff6600;}
.page_one:hover,.page_two:hover,.page_three:hover,.page_all:hover{
    background: #4196e6;
    cursor: pointer;
    border: 1px solid #fff;
}
.page_two{
    width: 30px;
    height: 26px;
    border: 1px solid #cccccc;
    margin-left:645px;
    margin-top: -28px;
    text-align: center;
}
.page_two span,.page_three span,.page_all span{line-height: 26px;color: #ff6600;}
.page_three{
    width: 30px;
    height: 26px;
    border: 1px solid #cccccc;
    margin-left:680px;
    margin-top: -28px;
    text-align: center;
}
.page_dian{
    width: 30px;
    height: 26px;
    margin-left:730px;
    margin-top: -28px;
    color: #999999;
}
.page_all{
    width:40px;
    height: 26px;
    margin-left:750px;
    margin-top: -27px;
    color: #999999;
    border: 1px solid #cccccc;
    text-align: center;
}
.left_down{
    width: 64px;
    height: 26px;
    margin-top: -27px;
    margin-left:800px;
    text-align: center;
    border: none
}
.left_down button{
    border: 1px solid #cccccc;
    width: 67px;
    height: 26px;
    outline: none;
    background: #fff;
    color: #5494d3;
    line-height: 26px;
    cursor: pointer;
}
.right_i{color: #ff6600;margin-left: 1px;}
.center_right{width: 290px;float: right;height: 1193px;}
.right_head{
    height: 500px;
    margin-top: 10px;
}
.head_title{height: 50px;background: #fff;}
h4{line-height: 50px;}
.span_su{font-weight: bolder;color: #f3ac04;font-size: 17px;margin-left: 15px}
.head_one{
    height: 112px;
    background: #f4f4f4;
    border-bottom: 1px solid #d9d7d7;
}
.head_one div img,.head_one div p{float:left;margin-left: 7px;margin-top: 20px;}
.head_one div p{margin-top: 15px;}
.renming{color: #000;font-size: 14px;}
.head_one a{color: #000;}
.icon_img{padding-top: 10px;margin-left: 10px}
.right_li{margin-top:0px;margin-left: 95px;}
.right_li>li{float:left;list-style: none;font-size: 12px;margin-top: 1px;}
.right_li>li:last-child{font-size: 15px;color: #44b52a;margin-top: 7px;}
.right_ul{margin-top:0px;margin-left: 95px;}
.right_ul>li{float:left;list-style: none;font-size: 10px;margin-top: 1px;}
.right_ul>li:last-child{font-size: 15px;color: #44b52a;margin-top: 23px;}
.right_two{height: 113px;background: #daf2ff;margin-top: 10px;text-align: center;}
.right_two span{color: #1aadf1;line-height: 113px;}
.right_three{height: 214px;background: #fff;margin-top:9px;}
.c_r_top p,.right_p{
    height: 37px;
    line-height: 37px;
    padding-left: 15px;
    padding-top: 5px;
}
.right_sp{font-weight: bolder;color: #f3ac04;font-size: 17px;}
.c_r_top ul{display: inline-block;margin-top: -2px;}
.c_r_top ul li{list-style: none;display: inline-block;height:40px;line-height: 40px;width: 90%;float: right;font-size: 14px;}
.c_r_top ul li a{color: #000000}
.c_r_top ul li img{position: relative;top:8px;left: -3px;}
.right_four{height: 352px;background: #fff;margin-top: 10px;}
.right_four>ul{margin-left: 30px;margin-top: -15px;}
.right_four>ul>li{float: left;color: #666;margin-top: 8px;font-size: 12px;}
.right_four a{color: #666;font-size: 12px;}
.right_four a:hover{color: #c7b483;text-decoration: underline;}
.right_four>ul>li:last-child{margin-top: 50px;list-style: none;}
#chakan{color: #40b0ec;}

