<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>多钱网-成都地区最值得信赖的贷款网络平台！</title>
    <meta name="keywords" content="成都贷款，小额贷款，住房贷款，购车贷款，消费贷款,贷款计算器" />
    <meta name="description" content="缺钱就找多钱网！ 成都地区最值得信赖的贷款平台，超过数万个贷款产品，帮助你快速贷款。 成都小额贷款，住房贷款，购车贷款，消费贷款尽在多钱网！" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/headCommon.css"/>
    <link rel="stylesheet" href="css/footerCommon.css"/>
    <link rel="stylesheet" href="css/gongluexiangqing.css"/>
</head>
<body>
<!--头部区域-->
<div class="header">
    <!--顶部导航-->
    <div class="topnav">
        <span class="topnav_left">缺钱，上多钱网！</span>
        <ul class="topnav_right">
            <li>速贷服务热线：400-865-8865</li>
            <li><a href="" class="xindai">信贷经理登录</a></li>
            <li>|</li>
            <li><a href="" class="xindai">信贷经理注册&nbsp;&nbsp;</a></li>
            <li><a href=""><i class="fa fa-apple icon">&nbsp;iphone/ipad</i></a></li>
            <li><a href=""><i class="fa fa-android icon">&nbsp;Android</i></a></li>
        </ul>
    </div>
    <!--主导航-->
        <div class="mainnav_div">
            <a href="index.html"><img src="images/logo.gif"/></a>
            <div class="city">
                <span><a href="">成都&nbsp;&nbsp;<i class="fa fa-sort-down"></i></a></span>
            </div>
            <p><a href="diming.html">[切换城市]</a></p>
            <ul class="nav_right">
                <li><a href="">首页</a></li>
                <li><a href="">个人理财</a></li>
                <li><a href="daikuangonglue.html">贷款攻略</a></li>
                <li><a href="">个人中心</a></li>
                <li><a href="">关于我们</a></li>
            </ul>
        </div>
</div>
<!--内容区域-->
<div class="bg">
    <div class="content_img">
        <img src="images/banner4.jpg" alt=""/>
    </div>
    <div class="content">
        <!--左边区域-->
        <div class="content_left">
            <div class="left_top">
                <ul>
                    <li><a href="">首页：</a></li>
                    <li><a href="">贷款攻略</a></li>
                    <li>></li>
                    <li><a href="">行业资讯</a></li>
                    <li>></li>
                    <li><a href="">如何选择适合贷款期限？</a></li>
                </ul>
            </div>
            <div class="content_nav">
                <ul>
                    <li><div class="left_nav">行业资讯</div></li>
                    <li><div class="left_nav">买房贷款攻略</div></li>
                    <li><div class="left_nav">购车贷款攻略</div></li>
                    <li><div class="left_nav">消费贷款攻略</div></li>
                    <li><div class="left_nav">经营贷款攻略</div></li>
                </ul>
            </div>
            <div class="left_xiang">
                <div class="left_xi">
                     <h2>如何选择适宜的贷款期限？</h2>
                     <h6>2014-06-03 09:17:10 作者：zhangrun</h6><br/>
                     <span> 选择多了，人们往往会不知所措，相信不少正在申请贷款的朋友，都会作此感受。面对诸多选择，大家难免在贷款机构间徘徊不定，在贷款方式上举棋不定，就连贷款多久也不免陷入犹豫不决的思绪。所谓花开多朵，各表一枝，今日我们不妨先来聊一聊，怎样选择适宜的贷款期限。</span>
                     <br />
                     <span>适宜的贷款期限，无可厚非是避免走向两个极端。第一种极端就是，还贷负担过重。考虑到日常的生活开支，如果设定的贷款期限较短会导致还贷压力过重，生活质量直线下降，而这也就和超前消费以期提前享受生活的愿景背道而驰了。所以，月供控制在月收入的30%-40%为宜，最多不可超过50%。具体为收入的多少比例，你可对每月日常开支粗略做下计算，即可确定月还款金额。知道了月供，结合总贷款资金便可测算出贷款期限怎样安排最为合理。</span>
                     <br/>
                     <span>当然，如果每月消费金额高低不等，势必会对贷款期限的选择增加难度。在此情况下，借款人可在还贷期限上稍留富裕，避免遇到贷款还不上的难题。退一万步讲，如果借款人最终手头富裕，也可以以提前还款的方式，节省贷款成本。</span>
                     <br/>
                     <span>另外，避免还贷压力过重，不代表选择较长的贷款期限就一定是正确之举。实际贷款时，很多人陷入了另一种极端，误以为贷款期限越久越好。其实不然，这同样会影响到生活质量。要知道，贷款成本除了取决于利息、还款方式之外，还与贷款期限息息相关。如果用款时间过久，导致贷款成本的骤增是毫无悬念的事情。</span>
                </div>
            </div>
            <div class="left_wz">
                <h3>文章评论</h3>
                <input type="text" placeholder="来说两句吧" class="left_text"/>
                <input type="submit" value="发表" class="left_sub"/>
                <img src="images/biao.png" alt=""/>

            </div>
            <div class="left_lun">
                <div class="lun_one">
                    <img src="images/ren.png" alt=""/>
                    <ul>
                        <li>网友</li>
                        <li>1小时前</li>
                        <li>四川省</li>
                        <li>成都市</li>
                        <li>2014-07-15 12:30</li>
                    </ul>
                    <span class="lun_span">公积金收益低贷款额度少 不如余额宝?</span><br/>
                    <span class="lun_hui">回复</span>
                </div>
                <div class="lun_two">
                    <img src="images/ren.png" alt=""/>
                    <ul>
                        <li>网友</li>
                        <li>1小时前</li>
                        <li>四川省</li>
                        <li>成都市</li>
                        <li>2014-07-15 12:30</li>
                    </ul>
                    <span class="lun_sp">很好？</span>
                </div>
                <span class="lun_h">回复</span>
                <div class="lun_one">
                    <img src="images/ren.png" alt=""/>
                    <ul>
                        <li>网友</li>
                        <li>1小时前</li>
                        <li>四川省</li>
                        <li>成都市</li>
                        <li>2014-07-15 12:30</li>
                    </ul>
                    <span class="lun_span">公积金收益低贷款额度少 不如余额宝?</span><br/>
                    <span class="lun_hui">回复</span>
                </div>
            </div>
        </div>
        <!--右边区域-->
        <div class="content_right">
            <div class="right_div">
                <div class="right_white">
                    <p class="right_p"><span class="right_sp">|</span>我要贷款</p><br />
                    <ul>
                        <li>
                            <span class="tu_span">贷款用途</span>
                            <select name="zhonglei" class="tu_select">
                                <option selected=selected>不限</option>
                                <option value="个人消费">个人消费</option>
                                <option value="贷款买房">贷款买房</option>
                                <option value="贷款买车">贷款买车</option>
                                <option value="经营周转">经营周转</option>
                            </select>
                        </li>
                        <li>
                            <span class="tu_span">贷款金额</span>
                            <select name="money" class="tu_select">
                                <option value="5万元">5万元</option>
                                <option value="10万元">10万元</option>
                                <option value="20万元">20万元</option>
                                <option value="30万元">30万元</option>
                                <option selected=selected>万元</option>
                            </select>
                        </li>
                        <li>
                            <span class="tu_span">贷款期限</span>
                            <select name="time" class="tu_select">
                                <option value="3个月">3个月</option>
                                <option value="6个月">6个月</option>
                                <option selected=selected value="12个月">12个月</option>
                                <option value="2年">2年</option>
                                <option value="5年">5年</option>
                                <option value="10年">10年</option>
                                <option value="20年">20年</option>
                                <option value="30年">30年</option>
                            </select>
                        </li>
                    </ul>
                    <input type="button" value="搜索贷款" class="tu_btn">
                    <div class="tu_money">
                        <ul>
                            <li><a href="">3万消费贷</a></li>
                            <li><a href="">5万信用贷</a></li>
                            <li><a href="">10万车贷</a></li>
                            <li><a href="">50万经营贷</a></li>
                            <li><a href="">10万旅游贷</a></li>
                            <li><a href="">30万买房贷</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="right_re">
                <p class="right_p"><span class="right_sp">|</span>热门TAG</p><br />
                <div class="right_img">
                    <div id="tags-layout">
                            <a href="javascript:;" class="cate-02" style="left:0px;top:27px;">服务</a>
                            <a href="javascript:;" class="cate-04" style="left:0px;top:80px;">利率</a>
                            <a href="javascript:;" class="cate-01" style="left:47px;top:0px;">信用卡</a>
                            <a href="javascript:;" class="cate-03" style="left:47px;top:53px;">优惠</a>
                            <a href="javascript:;" class="cate-02" style="left:47px;top:106px;">理财</a>
                            <a href="javascript:;" class="cate-03" style="left:94px;top:27px;">金融</a>
                            <a href="javascript:;" class="cate-01" style="left:94px;top:80px;">银行</a>
                            <a href="javascript:;" class="cate-04" style="left:94px;top:133px;">改革</a>
                            <a href="javascript:;" class="cate-04" style="left:141px;top:0px;">信贷</a>
                            <a href="javascript:;" class="cate-02" style="left:141px;top:53px;">利率</a>
                            <a href="javascript:;" class="cate-03" style="left:141px;top:106px;">攻略</a>
                            <a href="javascript:;" class="cate-01" style="left:188px;top:27px;">贷款</a>
                            <a href="javascript:;" class="cate-04" style="left:188px;top:80px;">汽车</a>

                    </div>
                </div>
            </div>
            <div class="right_zi">
                <p class="right_p"><span class="right_sp">|</span>热门资讯</p><br />
                <ul>
                    <li><a href="">公积金收益低贷款额度少 不如余额宝？</a></li>
                    <li><a href="">外资小贷求解水土不服 消费贷款借线上破局</a></li>
                    <li><a href="">定向降准显效 银行理财产品收益率年中难飙高</a></li>
                    <li><a href="">上海金融谷投融资服务平台起航</a></li>
                    <li><a href="">股转系统股权质押贷款活跃</a></li>
                    <li><a href="">宜宾住房公积金贷款9.5亿 完成年计划73%</a></li>
                    <li><a href="">英国将向印度提供10亿英镑基础设施贷款</a></li>
                    <li><a href="">P2P网贷“麻烦”不断部分平台谋求转型</a></li>
                    <li><a href="">央行要求提前支取罚息 贷基协存特权不再</a></li>
                    <li><a href="">手机银行对个人理财的三个贡献</a></li>
                    <li><a href="">民生银行获首批社区支行牌照</a></li>
                    <li><a href="">微信增转账功能 直接叫板支付宝霸主地位</a></li>
                    <li><a href="">互联网金融产品走红广州金交会</a></li>
                    <li><a href="">银行间市场重启丙类户 定位北金所</a></li>
                    <li><a href="">ATM机取出假币 银行可追溯源头</a></li>
                    <li><a href="">货币政策传导机制待完善</a></li>
                    <li><a href="">在华外资银行争夺中高端信用卡市场</a></li>
                    <li><a href="">超四成小微企业不找银行贷款</a></li>
                    <li><a href="">南充加强无贷户小微企业融资培育工作</a></li>
                    <li><a href="">亚洲信用体系建设高峰论坛在京举办</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--底部区域-->
    <div class="footer">
        <div class="footer_bg">
            <div class="foot_all">
                <ul>
                    <li>
                        <div class="footer_guimo">
                            <img src="images/guimo.png" alt=""/>
                            <ul style="width: 170px;">
                                <li>规模最大的贷款网站</li>
                                <li>即将开通去国200多个城市分站</li>
                                <li>共有105贷款顾问</li>
                                <li>685家贷款机构</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="footer_guimo">
                            <img src="images/fangwen.png" alt=""/>
                            <ul>
                                <li>访问量最大的贷款网站</li>
                                <li>每天近8万 贷款需求者访问</li>
                                <li>每月页面浏览量达到200万次</li>
                                <li>全国超过50万人提供了贷款咨询服务</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="footer_guimo">
                            <img src="images/quanmian.png" alt=""/>
                            <ul>
                                <li>全免费服务</li>
                                <li>多钱网不向贷款者收取任何费用</li>
                                <li>向全国贷款需求者提供包括问答电话</li>
                                <li>咨询、QQ交流等多种渠道的免费服务</li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="footer_rexian">
                            <ul>
                                <li>7*24小时服务</li>
                                <li>多钱网向贷款需求者提供免费服务</li>
                                <li style="color: #c9af7d;">投诉热线：</li>
                                <li>400-865-8865</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer_word">
            <ul>
                <li>多钱首页 |</li>
                <li>网站地图 |</li>
                <li>关于多钱 |</li>
                <li>服务条款 |</li>
                <li>法律声明 |</li>
                <li>诚聘英才 |</li>
                <li>联系我们 |</li>
                <li>广告服务 |</li>
                <li>贷款攻略 |</li>
                <li>新手入门 |</li>
                <li>免费申请贷款</li>
            </ul>
        </div>
        <div class="foot_ying">Copyright 2013 DuoQian Corporation.All Rights Reserved.成都多钱网 蜀ICP备12019260号-3</div>
        <div class="ditu">
            <img src="images/ditu.png" alt=""/>
        </div>
        <div class="back" onclick="scollmove()"><i class="fa fa-angle-up up"></i></div>
    </div>
</div>
</div>
<script type="text/javascript">
    //    回到顶部
    function scollmove(){
        var tempwindow =  $(window)
        var aniid = setInterval(function(){
            var tempheight = tempwindow.scrollTop();
            tempwindow.scrollTop(tempheight/2);
            if(tempheight<=2){
                clearInterval(aniid);
            }
        },100);
    }

</script>
</body>
</html>