<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>多钱网-成都地区最值得信赖的贷款网络平台！</title>
    <meta name="keywords" content="成都贷款，小额贷款，住房贷款，购车贷款，消费贷款,贷款计算器" />
    <meta name="description" content="缺钱就找多钱网！ 成都地区最值得信赖的贷款平台，超过数万个贷款产品，帮助你快速贷款。 成都小额贷款，住房贷款，购车贷款，消费贷款尽在多钱网！" />
    <script type="text/javascript" src="js/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/headCommon.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <!--[if IE 6]>
    <style type="text/css">
        html{ padding:90px 10px;}
        .header,.content{position:relative; top:0; right:0; bottom:0; left:0;}
        .header{margin-top:-80px;}
        .content{height:100%;margin: 0 auto;}
    </style>
    <![endif]-->
</head>
<body>
<div class="wrap">
    <!--头部区域-->
    <div class="header">
        <!--顶部导航-->
        <div class="topnav">
            <div class="topnav_div">
                <span class="topnav_left">缺钱，上多钱网！</span>
                <ul class="topnav_right">
                    <li>速贷服务热线：400-865-8865</li>
                    <li><a href="" class="xindai">信贷经理登录</a></li>
                    <li>|</li>
                    <li><a href="" class="xindai">信贷经理注册&nbsp;&nbsp;</a></li>
                    <li><a href=""><i class="fa fa-apple icon">&nbsp;iphone/ipad</i></a></li>
                    <li><a href=""><i class="fa fa-android icon">&nbsp;Android</i></a></li>
                </ul>
            </div>
        </div>
        <!--主导航-->
        <div class="mainnav">
            <div class="mainnav_div">
                <img src="images/logo.gif"/>
                <div class="city">
                    <span><a href="">成都&nbsp;&nbsp;<i class="fa fa-sort-down"></i></a></span>
                </div>
                <p><a href="">[切换城市]</a></p>
                <ul class="nav_right">
                    <li><a href="">多钱贷</a></li>
                    <li><a href="">个人理财</a></li>
                    <li><a href="">贷款攻略</a></li>
                    <li><a href="">理财攻略</a></li>
                    <li><a href="">信用卡</a></li>
                    <li><a href="">人才招聘</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--内容区域-->
    <div class="content">

    </div>
</div>
</body>
</html>